<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Action.ContentTools.Bin" version="1.0.0" targetFramework="net461" />
  <package id="Action.ContentTools.Phraser.CommonPhraseBuilder" version="1.0.9" targetFramework="net461" />
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="12.0.4518.1014" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="12.0.4518.1014" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
</packages>